{% extends 'home_base.html' %}

{%  block content %}


    <div class="card">
        <div class="card-header text-center">
            logo
        </div>
        <div class="card-body">
            <h1>Nueva Contraseña en camino</h1>
            <hr/>
            <p>
                Le hemos mandado un correo con instrucciones, si hay una cuenta relacionada con el correo electrónico.
                Lo recibira en un par de minutos.
            </p>
            <p>
                Si no recibe el correo, asegurese que el correo este registrado con nosotros, y chequee su carpeta de
                correos no deseados.
            </p>
        </div>
        <div class="card-footer text-right text-muted">
            @maca
        </div>
    </div>


{% endblock %}