{% extends 'home_base.html' %}

{% block content %}

    <div class="card">
        <div class="card-header text-center">
            logo
        </div>
        <div class="card-body">
            <h1 class="card-title">Contraseña nueva aceptada!</h1>
            <hr/>
            <p>Su contraseña ha sido actualizada exitosamente. Si desea puede iniciar sesión.</p>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        </div>
        <div class="card-footer text-right text-muted">
            @maca
        </div>
    </div>

{% endblock %}