{% extends 'base.html' %}

{% block script %}

    <script>

    $(document).ready(function () {
        const query = new URLSearchParams(window.location.search);

        var tweetList = [];

        function parseTweets(){
            if (tweetList === 0){
                $('#tweet-container').text("No tweets currently found.")
            } else {
                // tweets exists
                $.each(tweetList, function (k, v) {
                    var key = k;
                    var tweetContent = v.content;
                    var tweetUser = v.user;
                    var tweetTimeStamp = v.timestamp;
                    $('#tweet-container').append(
                        '<div class="media">' +
                        '{% if t.image %}' +
                            '<img src="..." class="mr-3" alt="...">' +
                            '{% endif %}' +
                        '<div class="media-body">' +
                        tweetContent + '<br/>' +
                        'via ' + tweetUser.username + ' | ' + tweetTimeStamp +
                        ' ago <a href="#">View</a>' +
                        '</div></div><hr/>'
                    )
                });
            }
        }

        function fetchTweets(){
            $.ajax({
                url: '/api/tweet/',
                data: { 'q': query.get('q') },
                method: 'GET',
                success: function(data){
                    tweetList = data;
                    parseTweets()
                },
                error: function(data){
                    console.log("error", data)
                }
            })
        }
        fetchTweets()

        $('#tweet-form').submit(function(event){
            event.preventDefault();
            var tweetData = $(this).serialize();


        })

    });



    </script>

{% endblock %}

{% block title %}Tweets | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row" id="row1">
        <div class="col-3 my-4">
            {{ request.user }}
        </div>
        <div class="col-9 text-center">
            {% if not request.GET.q %}
                <div class="">
                    {% include 'tweets/form.html' with form_id='tweet-form' form=create_form action_url=create_url btn_title='Tweet' %}
                </div>
                <hr/>
            {% endif %}
            <div id="tweet-container">

            </div>
        </div>
    </div>

{% endblock %}