{% extends 'base.html' %}

{% block script %}

    <script>

    $(document).ready(function () {
        loadTweetContainer("tweet-container");
    });

    </script>

{% endblock %}

{% block title %}Tweets | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row" id="row1">
        <div class="col-lg-3 col-12 my-4">
            {{ request.user }}
        </div>
        <div class="col-lg-9 col-12">
            {% if not request.GET.q %}
                <div class="">
                    {% include 'tweets/form.html' with form_id='tweet-form' form=create_form action_url=create_url btn_title='Tweet' %}
                </div>
                <hr/>
            {% endif %}
            <div id="tweet-container" data-url="/api/tweet/" class="text-center">

            </div>
            <a href="#" id="loadMore">Load more Tweets</a>
        </div>
    </div>

{% endblock %}