{% extends 'home_base.html' %}

{% load static %}

{%  block content %}

    <div class="card">
        <div class="card-header text-center">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/nature.png' %}" width="32" height="32" alt="Fogata">
            </a>
        </div>
        <div class="card-body">
            <h1>Nueva Contraseña en camino</h1>
            <hr/>
            <p>
                Le hemos mandado un correo con instrucciones, si hay una cuenta relacionada con el correo electrónico.
                Lo recibira en un par de minutos.
            </p>
            <p>
                Si no recibe el correo, asegurese que el correo este registrado con nosotros, y revise su carpeta de
                correos no deseados.
            </p>
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'terms' %}">Terminos</a> | <a href="{% url 'contact' %}">Contactenos</a><br/>@maca
        </div>
    </div>

{% endblock %}