{% extends 'home_base.html' %}

{% load static %}

{% block content %}

    <div class="card">
        <div class="card-header text-center">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/nature.png' %}" width="32" height="32" alt="Fogata">
            </a>
        </div>
        <div class="card-body">
            <h1 class="card-title">Contraseña nueva aceptada!</h1>
            <hr/>
            <p>Su contraseña ha sido actualizada exitosamente. Si desea puede iniciar sesión.</p>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'terms' %}">Terminos</a> | <a href="{% url 'contact' %}">Contactenos</a><br/>@maca
        </div>
    </div>

{% endblock %}