{% extends 'home_base.html' %}

{% load static %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#id_email").addClass("form-control");
        })
    </script>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header text-center">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/nature.png' %}" width="32" height="32" alt="Fogata">
            </a>
        </div>
        <div class="card-body">
            <h1 class="col">Nueva Contraseña</h1>
            <hr/>
            <p class="col">Olvido su Contraseña? Ponga su correo electronico, y le enviaremos instrucciones
                para que la actualize.</p>
            <form method="POST" action=".">{% csrf_token %}
                <div class="form-group col-lg-6 col-12">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'terms' %}">Terminos</a> | <a href="{% url 'contact' %}">Contactenos</a><br/>@maca
        </div>
    </div>

{% endblock %}