{% extends 'home_base.html' %}

{% load static %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#id_first_name").addClass("form-control");
            $("#id_last_name").addClass("form-control");
            $("#id_email").addClass("form-control");
            $("#id_username").addClass("form-control");
            $("#id_password").addClass("form-control");
            $("#id_password2").addClass("form-control");

            var typingTimer;
            var doneInterval = 800;
            var searchInput = $('#id_username');
            var searchQuery;

            searchInput.keyup(function(event){
                searchQuery =  $(this).val()
                clearTimeout(typingTimer)
                typingTimer = setTimeout(doneSearchTyping, doneInterval)
            })

            searchInput.keydown(function(event){
                clearTimeout(typingTimer)
            })

            function doneSearchTyping(){
                if (searchQuery.length >= 4){
                    // do search
                    $.ajax({
                        url: '/api/profiles/find/' + searchQuery + '/',
                        method: 'GET',
                        success: function (data) {
                            console.log(data);
                            $('#user_check').css('display', 'none');
                        },
                        error: function (data) {
                            $('#user_check').css('display', 'inline')
                        }
                    })
                }
            }
        })
    </script>
{% endblock %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Registrarse | {{ block.super }}{% endblock %}

{% block content %}

    <div class="card mb-3 text-center">
        <div class="card-header">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/nature.png' %}" width="32" height="32" alt="Fogata">
            </a>
        </div>
        <img class="card-img-top banner" src="{% static 'images/banner.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h1 class="card-title">Bienvenido!</h1>
            <small>La Fogata esta aqui para que encuentres personas
            con las cuales puedas conectarte para estar
            al dia con los acontecimientos que estan
            sucediendo en su entorno.<br/>
                Metale leña al fuego!</small>
            <hr/>

            {% if form.errors %}
                <div class="row justify-content-md-center">
                    <div class="alert alert-danger alert-dismissible fade show col-6" role="alert">
                        {% for error in form.username.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.password.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.password2.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <form method="POST" class="form">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.first_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.last_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.email.label }}</label>
                    <div class="col-sm-8">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.username.label }}</label>
                    <div class="col-sm-8">
                        {{ form.username }}
                    </div>
                    <div class="col-sm-1 mt-1 text-left" id="user_taken_check">
                        <img src="{% static 'images/correct24x24.png' %}" id="user_check" alt="" style="display: none"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.password.label }}</label>
                    <div class="col-sm-8">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.password2.label }}</label>
                    <div class="col-sm-8">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ form.accept_terms.label }}</label>
                    <div class="col-sm-8 text-sm-left mt-1">
                        {{ form.accept_terms }} <small>Al registrarse esta accediendo a los
                        <a href="{% url 'terms' %}">terminos y condiciones</a> de uso</small>
                    </div>
                </div>
                <br/>
                <button class="btn btn-lg btn-primary" type="submit">Registrarse</button>

            </form>
            <div class="row my-4">
                <div class="col text-center">
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'terms' %}">Terminos</a> | <a href="{% url 'contact' %}">Contactenos</a><br/>@maca
        </div>
    </div>

{% endblock %}