{% extends 'base.html' %}

{% block script %}

    <script>

        $(document).ready(function () {
            loadTweetContainer("tweet-container");
        });

    </script>

{% endblock %}

{% block title %}Hashtags | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row" id="row1">
        <div class="col-lg-6 col-12">
            <h1>#{{ obj.tag }}</h1>
            <hr/>
            <div id="tweet-container" data-url="/api/tag/{{ obj.tag }}/">

            </div>
            <a href="#" id="loadMore">cenizas..</a>
        </div>
    </div>

{% endblock %}