{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-3 col-12" id="user-container" data-url="/api/profiles/{{ object.username }}">
            <img src="{{ object.profile.image.url }}" class="mr-3 mb-3" alt="{{ object.username }}" style="max-height: 200px; max-width: 200px">
            <h1>{{ object.username }}</h1>
            <p>{{ object.first_name }} {{ object.last_name }}</p>

        </div>
        <div class="col-lg-6 col-12">
            <h1>Seguidores <small>{{ object.followed_by.all.count }}</small></h1>
            <br/>
            {% for profile in object.followed_by.all %}
                <div class="media">
                    <img src="{{ profile.image.url }}" class="mr-3" alt="null" style="height: 48px; width: 48px">
                    <div class="media-body">
                        <a href="/profiles/{{ profile.user.username }}">@{{ profile.user.username }}</a><br/>
                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                    </div>
                </div>
                <hr/>
            {% empty %}
                <h6>No tiene seguidores.</h6>
            {% endfor %}

        </div>
    </div>

{% endblock %}