{% extends 'home_view.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Register</h1>
                    <hr/>
                    <form method="POST" class="form" action=".">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br/>
                        <br/>
                        <button class="btn btn-block btn-primary" type="submit">Register</button>
                        <br/>
                    </form>
                    <a href="{% url 'login' %}" class="btn btn-link">Login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}