{% extends 'base.html' %}

{% block title %}Profile | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-3 col-12">
            <h1>{{ object.username }}</h1>
            <hr/>
            <p>{{ object.followed_by.all.count }}{% if object.followed_by.all.count == 1 %} Follower{% else %} Followers{% endif %}</p>
            <p>
                {% if object != request.user %}
                    <a class="btn btn-link" href="{% url 'profiles:follow' username=object.username %}">
                        {% if following %}Unfollow{% else %}Follow{% endif %}
                    </a>
                {% endif %}
            </p>

            <h3>Following <small>{{ object.profile.get_following.count }}</small></h3>
            {% for user in object.profile.get_following %}
                <a href="/profiles/{{ user.username }}">{{ user.username }}</a><br/>
            {% empty %}
                <h6>Not following anyone.</h6>
            {% endfor %}

            <hr/>
            <h3>Followed By</h3>
            {% for profile in object.followed_by.all %}
                <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a><br/>
            {% empty %}
                <h6>Not followed by anyone.</h6>
            {% endfor %}

        </div>
        <div class="col-lg-9 col-12">
            <h1>Tweets</h1>
            {% for tweet in object.tweet_set.all %}

                {% include 'tweets/tweet_body.html' with t=tweet %}

            {% endfor %}

            <hr/>

        </div>
    </div>
{% endblock %}