<!DOCTYPE html>
{% load static %}
{% block subject %}{% endblock %}

{% block plain %}{% endblock %}

{% block html_main %}
    <html lang="en">
    <head>
    </head>
    <body style="font-family: sans-serif; background: #f5f5f5;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td width="100%" align="center">
                <table cellspacing="0" cellpadding="0" border="0" width="480">
                    <tr>
                        <td style="background-color: #444444; padding: 18px;">
                            <h3 style="color:white;">La Fogata</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: white; padding:18px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #444444" width="480" >
                            <h3>{{ first_name }} te damos la bienvenida a la Fogata!</h3>
                            <hr/>
                            <p>En la Fogata podrás averiguar todo lo que esta sucediendo en tu comunidad.</p>
                            <p>Te esperamos!</p>
                            <br/>
                            <p> - Equipo Fogata </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #999999; padding: 12px 18px">
                            <p>
                                @maca | derechos reservados.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </body>
    </html>

{% endblock %}