{% load static %}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <style>
        #parent {
            padding: 4% 1%;
        }
        #child {
            padding: 8% 1%;
        }
    </style>
    <title> {% block title %}Deno{% endblock %}</title>
</head>
<body>

    <div id="parent" class="container my-4">
        <div id="child">
            {% block content %}

            {% endblock %}
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block script %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<noscript>Su navegador no soporta Javascript!</noscript>
</body>
</html>