{% extends "home_base.html" %}

{% load static %}

{% block script %}
<script>
$(document).ready(function () {
    $("#id_username").addClass("form-control");
    $("#id_password").addClass("form-control");
})
</script>
{% endblock %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/nature.png' %}" width="32" height="32" alt="Fogata">
            </a>
        </div>
        <div class="row no-gutters">
            <div class="card-body">
                <h2 class="card-title">La Fogata</h2>
                <hr/>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div style="padding: 3%">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="row text-center">
                            <div class="col-lg-3"></div>
                            <div class="form-group col-lg-6">
                                {{ form.username.label_tag }}<br>
                                {{ form.username }}
                            </div>
                            <div class="col-lg-3"></div>
                            <br/>
                            <div class="col-lg-3"></div>
                            <div class="form-group col-lg-6">
                                {{ form.password.label_tag }}<br>
                                {{ form.password }}
                            </div>
                            <div class="col-lg-3"></div>
                            <br/>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6 mt-3">
                                <button type="submit" class="btn btn-block btn-primary">Inicar Sesión</button>
                                <input type="hidden" name="next" value="{% url 'home' %}">
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </form>
                </div>
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'register:start' %}">Registrarse</a></p>
                <p><a href="{% url 'register:password_reset' %}">Olvidé mi contraseña?</a></p>
            </div>
        </div>
        <div class="card-footer">
            <p><a href="{% url 'terms' %}">Términos</a></p>
            <p><a href="{% url 'contact' %}">Contáctenos</a></p>
            @maca
        </div>
    </div>

{% endblock %}