{% extends 'base.html' %}

{% block script %}

    <script>

        $(document).ready(function () {
            loadTweetContainer("tweet-container");
        });

    </script>

{% endblock %}

{% block title %}Tweets | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row" id="row1">
        <div class="col-sm-12">
            {% if request.GET.q %}
            <p class="lead">Results for: {{ request.GET.q }}</p>
            <hr/>
            {% endif %}
        </div>
        <div class="col-lg-9 col-12">
            <h1>Tweets</h1>
            <hr/>
            <div id="tweet-container" data-url="/api/search/" class="text-center">

            </div>
            <a href="#" id="loadMore">Load more Tweets</a>
        </div>
        <div class="col-lg-3 col-12 my-4">
            <h1>Users</h1>
            <hr/>
            {% for user in users %}
                <a href="/profiles/{{ user.username }}/">{{ user.username }}</a><br/>
            {% empty %}
                <p>No users found</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}